body{
    background-color: aquamarine;
}

#main{

    display: grid;
    grid-template-rows: 120px 400px 140px;

}
img{
    height: 100px;
    
    width: 100px;
    border-radius: 70%;
}

#m1{
    background-color: cornsilk;
    border-radius: 20px;
    display: grid;
    grid-template-columns: 900px 500px;
}
#s1{
    margin: 30px;
    display: grid;
    grid-template-columns: 200px 200px 100px;
}

#m2{
    margin-top: 20px;
    background-color: cyan;
    border-radius: 20px;
    display: grid;
    grid-template-columns: 730px 730px;
}

#s2{
    margin: 30px;
    background-color: burlywood;
    border-radius: 20px; 
}
#aa{
    margin-top: 100px;
    margin-left: 170px;
    display: grid;
    grid-template-columns: 200px 200px;
    grid-template-rows: 80px 80px;
  
}
#aa a{
    text-decoration: none;
}
#s3{
    margin: 30px;
    background-color: burlywood;
    border-radius: 20px; 
    padding: 20px;

}
#m3{
    background-color: lightpink;
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1350px 120px;
}
#s4{
    display: grid;
    grid-template-columns: 200px 200px 200px 200px;
    margin-top: 10px;
    margin-left: 10px;
}
#img1, #img2{
    margin: 10px;
}
