body{
    background-image: linear-gradient(to right ,rgba(196, 196, 82, 0.778) , rgba(227, 158, 30, 0.795));
}
#main{
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
    
}
.img-cr{
    height: 550px;
    border-radius: 10px;
}
.carousell{
    width: 150vh;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}
h1{
    font-family: 'Permanent Marker', cursive;
    padding-left: 40%;
    
}